@{
    Layout = "~/Areas/User/Views/Shared/_MainLayout.cshtml";

    var objAppInfo = (CMS.Entities.AppInfo)ViewBag.objAppInfo;

    ViewBag.Title = "ContactUs - " + objAppInfo.SiteName;

    ViewBag.heading = "Contact Us";



    var capcha = objAppInfo.ShowCapcha;

    string secreatkey = objAppInfo.CapchaSiteKey;

    //string secreatkey = objAppInfo.CapchaSiteKey;
}
<script src="Scripts/User/jquery-validate.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>


@*<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("Honeypot").setAttribute("name", "TrapField_" + Math.random().toString(36).substring(2, 8));
    });
</script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<!-- Start inner banner Section -->
<section class="">
    <div class="innban-sec position-relative ">
        <img class="w-100" src="Content/User/img/banner-image-2.jpg" alt="banner-image-2">
        <div class="caption position-absolute top-50 start-0 text-start">
            <div class="container">
                <div class="">
                    <h2 class="td_section_title td_fs_48 mb-0 text-white">Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end inner banner Section -->
<!-- Start contact page Courses -->


<section class="td_gray_bg_3 ss sec-gap  ">
    <div class="container">
        <div class="ab__topsec mt-0">
            <div class="row td_gap_y_24">
                <div class="next_buttons pt-0">
                    <div class="text-center">
                        <a href="tel: @objAppInfo.CompanyPhone" class="td_btn td_style_1 td_radius_10 td_medium btn__menu button_wd">
                            <span class="td_btn_in td_white_color td_accent_bg btn__menu1">
                                Call Us
                            </span>
                        </a>
                    </div>
                    <div class="text-center">
                        <a href="mailto:@objAppInfo.CompanyEmail" class="td_btn td_style_1 td_radius_10 td_medium btn__menu button_wd">
                            <span class="td_btn_in td_white_color td_accent_bg btn__menu1">
                                Email Us
                            </span>
                        </a>
                    </div>
                    <div class="text-center button_width">
                        <a href="apply" class="td_btn td_style_1 td_radius_10 td_medium btn__menu button_wd">
                            <span class="td_btn_in td_white_color td_accent_bg btn__menu1">
                                Apply Now
                            </span>
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <div class="col-xl-12 col-lg-10 col-md-11">
                        <div class="team__clr p__text p__text2 text-center acc__li pt-2 pb-4"> <strong>Phone:</strong> <a class="color__line" href="tel: @objAppInfo.CompanyPhone" target="_blank"> @objAppInfo.CompanyPhone</a> <span class="mx-2">|</span> <strong> Email:</strong> <a href="mailto:@objAppInfo.CompanyEmail" class="color__line"> @objAppInfo.CompanyEmail</a> <span class="mx-2">|</span>  <strong>Address:</strong> @objAppInfo.CompanyAddress</div>
                        <div class="inner__heading"><h2 class="head__title text-center mb-3">Get In Touch  With Us</h2></div>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="col-md-8">
                    <div class="td_form_card pn td_style_1  bg-white td_form_card">
                        @using (Html.BeginForm("InsertContactUs", "Home", FormMethod.Post, new { id = "ContactForm", @class = "common-form mt-4 mt-md-4" }))
                        {
                            @Html.AntiForgeryToken()
                            <!-- Hidden input to store the generated code -->
                            <input type="hidden" name="ValidationCode" value="@ViewBag.ValidationCode" />
                            <input type="hidden" id="recaptchaToken" name="recaptchaToken" />

                            //string secreatkey = objAppInfo.CapchaSiteKey;
                            <div class="td_form_card_in pn">

                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="frm-group">
                                            <input type="text" class="td_form_field td_mb_20 td_medium td_white_bg" placeholder="Name  *" name="Name" id="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="frm-group">
                                            <input type="text" class="td_form_field td_mb_20 td_medium td_white_bg" placeholder="Email * " name="Email" id="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="frm-group">
                                            <input type="text" class="td_form_field td_mb_20 td_medium td_white_bg" placeholder="Phone Number *" name="PhoneNo" id="PhoneNo" maxlength="12" onkeypress=" phonenochange(event);return Common.isNumberKey(event);" onpaste="formatPhoneNumber(event)" autocomplete="off" oninput="formatPhoneNumberOnInput(event)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="frm-group">
                                            <input type="text" class="td_form_field td_mb_20 td_medium td_white_bg" placeholder="Subject * " name="Subject" id="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="frm-group mb-2">

                                            <textarea class="td_form_field no__boredr td_mb_30 td_medium td_white_bg" placeholder="Enter your Comments Here..." rows="4" name="Description" id="Description"></textarea>
                                        </div>
                                    </div>

                                </div>


                                <div class="row align-items-center d-flex ">
                                    <div class="col-md-6">
                                        <div class="">
                                            <div class="g-recaptcha"
                                                 data-sitekey="@secreatkey"> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="td_form_card_bottom py-3 d-block text-end ">
                                            <input type="hidden" id="Honeypot" name="Honeypot" />
                                            <button type="submit" class="td_btn td_style_1 td_radius_10 td_medium sec__btn" id="submit-button">
                                                <span class="td_btn_in td_white_color  sec__btn2">Submit</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                </div>

            </div>
            <div class="row  justify-content-center mt-4">
                <div class="col-md-8">
                    <div class="td_form_card pn td_style_1  bg-white td_form_card pnd">
                        <div class="w-100">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.408356082536!2d-90.53094092422748!3d41.56040588524583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e235a6b859d83f%3A0xbf1e501d2c9e8b0e!2sOrion%20Technical%20College!5e0!3m2!1sen!2sin!4v1739537757567!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- End contact page Courses -->



<script>

    function phonenochange(event) {
        if (event.keyCode == 8 || event.keyCode == 46) {
        }
        else {
            var ph = $('#PhoneNo').val();
            if (ph.length == 3) { $('#PhoneNo').val(ph + '-'); }
            if (ph.length == 7) { $('#PhoneNo').val(ph + '-'); }
        }
    }
    function formatPhoneNumber(event) {
        event.preventDefault(); // Prevent default paste behavior

        // Get the pasted data
        const pastedData = event.clipboardData.getData('Text');

        // Clean the pasted data to remove non-numeric characters
        const cleanedData = pastedData.replace(/\D/g, '');

        // Format the phone number as 123-456-7890
        let formattedNumber = cleanedData.substring(0, 3) + '-';
        formattedNumber += cleanedData.substring(3, 6) + '-';
        formattedNumber += cleanedData.substring(6, 10);

        // Insert the formatted number into the input field
        event.target.value = formattedNumber;
    }

    function formatPhoneNumberOnInput(event) {
        const inputField = event.target;
        const rawValue = inputField.value.replace(/\D/g, ''); // Remove non-numeric characters
        let formattedValue = '';

        // Format the phone number as 123-456-7890
        if (rawValue.length > 0) {
            formattedValue = rawValue.substring(0, 3);
        }
        if (rawValue.length > 3) {
            formattedValue += '-' + rawValue.substring(3, 6);
        }
        if (rawValue.length > 6) {
            formattedValue += '-' + rawValue.substring(6, 10);
        }

        // Set the formatted value back to the input field
        inputField.value = formattedValue;
    }


    $(document).ready(function () {
        
        $.validator.addMethod("validate_email", function (value, element) {
            if (value === "") {
                return true;
            }
            if (/^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value)) {
                return true;
            } else {
                return false;
            }
        }, "Please enter a valid Email.");

        $.validator.addMethod("phoneFormat", function (value, element) {
            return this.optional(element) || /^\d{3}-\d{3}-\d{4}$/.test(value);
        }, "Please enter a valid phone number");

      $("#ContactForm").validate({
            rules: {
                Name: "required",
              Email: { required: true, validate_email: true },
                PhoneNo: {
                    required: true,
                    phoneFormat: true
                 },
                Description: "required",
                Subject: "required",

            },
            messages: {
                Name: "please enter your first name",
                Email: { required: "please enter your email address", validate_email: "enter valid email address" },
                PhoneNo: {
                    required: "Please enter phone number",
                    phoneFormat: "Please enter valid phone number",
                },
                Description: "please enter your comments",
                Subject: "please enter your Subject",

            },

             submitHandler: function (form) {
                var response = grecaptcha.getResponse();
                if ('@capcha' == 'Yes') {
                    if (response.length == 0) {
                        alert('Please confirm that you are not a robot.');
                    }
                    else {
                        form.submit();
                    }
                }
                else {
                    form.submit();
                }
            },

            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");

                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }

                // Move the error element after the fieldset element
                if (element.closest(".frm-group").length) {
                    element.closest(".frm-group").after(error);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parents(".frm-group").addClass("has-error").removeClass("has-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".frm-group").addClass("has-success").removeClass("has-error");
            },

        });


    });

    $("#submit-button").on("click", function (e) {
        e.preventDefault(); // Prevent default form submission
        var form = $("#ContactForm");

        if (form.valid()) {
            // Add a hidden field to indicate client-side validation success
            $("<input>")
                .attr({
                    type: "hidden",
                    name: "ClientValidationStatus",
                    value: "true"
                })
                .appendTo(form);

            form.submit(); // Submit the form
        } else {
            console.log("Please complete the form correctly.");
        }
    });

</script>




