@using System.Configuration;
@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;

    var imgloc = ConfigurationManager.AppSettings["baseurl"] + "Content/PageDetails/thumbphoto/";
    var imglocNormal = ConfigurationManager.AppSettings["baseurl"] + "Content/PageDetails/normalphoto/";

    List<CMS.Entities.PageDetails> lstPageDetails = ViewBag.lstPageDetails;    
}

<script type="text/javascript">

    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('#MWebsite').addClass('active');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });

    function PageDetailstatus(PageDetailId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("PageDetailstatus", "PageDetails")', // the URL of the controller action method
            data: { PageDetailId: PageDetailId }, // optional data
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    $('#divmessage').html(result.data);
                    Onload($('#hdnPageNo').val());
                }
                else {
                    $('#divmessage').html(result.data);
                }
            }
        });
    }

    function DeletePageDetails(MenuPageId) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteMenuPages", "MenuPages")',  // the URL of the controller action method
                data: { MenuPageId: MenuPageId }, // optional data
                success: function (result) {
                    if (result.ok) {
                        $("#divmessage").html(result.data);
                        Onload($('#hdnPageNo').val());
                    }
                    else {
                        $("#divmessage").val(result.data);
                    }
                },
            });
        }
    } 
     
</script>

<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div> 
        }
        else
        {
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="7%">S.No.</th> 
                        <th width="12%">
                            <a onclick="javascript:sortresult('Heading');" class="white-t-u">Heading @if (sortcolumn == "Heading")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }</a>
                        </th>
                        <th width="8%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstPageDetails.Count != 0)
                    {
                        int i = 0;
                        foreach (var item in lstPageDetails)
                        {
                        <tr valign="top">
                            <td>@item.RId</td> 
                            <td style="text-align: left"><a href="@Url.Action("EditPageDetails", "PageDetails", new { PageDetailId =  item.PageDetailId,MenuItemId= item.MenuItemId })"> @item.Heading</a></td>
                            <td><a title="Edit" onclick="AddEditValidate('edit', @item.MenuPageId);" ><i class="icon-pencil"></i></a>
                                <a title="Delete" class="cmdelete" onclick="javascript:DeletePageDetails(@item.MenuPageId);"><i class="icon-trash"></i></a> 
                            </td>
                        </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="9">No Records Found.</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>
@Html.Raw(CMS.BLL.Common.SetPagingAdmin((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
