@using System.Configuration;
@{ Layout = null;}
@{

    var imgloc = Session["BaseUrl"] + "Content/PageDetails/thumbphoto/";
    var imglocNormal = Session["BaseUrl"] + "Content/PageDetails/normalphoto/";

    List<CMS.Entities.PageDetails> lstPageDetails = ViewBag.lstPageDetails;

    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;

    bool IsEdit = Convert.ToBoolean(Session["IsEdit"]);
    bool IsView = Convert.ToBoolean(Session["IsView"]);
    bool IsDelete = Convert.ToBoolean(Session["IsDelete"]);
    bool IsExport = Convert.ToBoolean(Session["IsExport"]);
    var userRole = "";
    userRole = Session["userrole"] != null ? Session["userrole"].ToString() : string.Empty;

}
<style>
    .aws-h-a {
        text-decoration: none;
        position: relative;
    }

        .aws-h-a::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            border-bottom: 2px solid #0756ca;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        .aws-h-a:hover::after {
            transform: scaleX(1);
        }
</style>
<script type="text/javascript">


    function PageDetailstatus(PageDetailId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("PageDetailstatus", "PageDetails")', // the URL of the controller action method
            data: { PageDetailId: PageDetailId }, // optional data
            datatype: "JSON",
            success: function (result) {
                showLobiboxNotification(result.messageType, result.message);
                if (result.ok) {
                    //$('#divmessage').html(result.data);
                    //$('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    Onload($('#hdnPageNo').val());
                }
                else {
                    $('#divmessage').html(result.data);
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
            }
        });
    }
</script>


<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped align-middle mb-0">
            <thead class="table-light">
                <tr>

                    <th width="70" class="text-center">S.No</th>
                    <th >
                        <a onclick="javascript:sortresult('Heading');" class="white-t-u aws-h-a black">
                            Heading @if (sortcolumn == "Heading")
                            {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                        </a>
                    </th>
                    <th width="150" style="text-align:center;">#</th>
                    <th width="150">
                        <a onclick="javascript:sortresult('UpdatedDate');" class="white-t-u aws-h-a black">
                            Modified Date @if (sortcolumn == "UpdatedDate")
                            {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                        </a>
                    </th>

                    <th width="100">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Total != 0)
                {
                    //int i = 1;
                    foreach (var item in (List<CMS.Entities.PageDetails>)ViewBag.lstPageDetails)
                    {
                        <tr>
                            <td align="center">@item.RId</td>
                            <td>

                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <div class="">
                                        <p class="mb-0">@item.Heading</p>
                                    </div>
                                </div>
                            </td>
                            <td>

                                <div style="text-align:center;">
                                    <div>
                                        <a href="@(item.PageUrl)" target="_blank" class="aws-h-a" title="View">Preview</a>
                                    </div>
                                </div>
                            </td>


                            <td>@(item.UpdatedDate != null && item.UpdatedDate != DateTime.MinValue ? item.UpdatedDate.ToString("dd/MM/yyyy") : "N/A")</td>

                            <td style="text-align:center;">
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    @if (IsEdit == true || userRole.Contains("SuperAdmin") || userRole.Contains("DeveloperAdmin"))
                                    {
                                        <a class="text-warning cursor-pointer" href="@Url.Action("EditPageDetails", "PageDetails", new { PageDetailId = item.PageDetailId, mid = ViewBag.Mid})" title=" Edit" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>
                                    }
                                    @if (IsDelete == true || userRole.Contains("SuperAdmin") || userRole.Contains("DeveloperAdmin"))
                                    {
                                        <a class="text-danger cursor-pointer" onclick="DeletePageDetails(@item.PageDetailId);" title="Delete" aria-label="Delete"><i class="bi bi-trash-fill"></i></a>
                                    }
                                    </div>


                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="10" class="font-14 text-center">No  Records found</td></tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row pt-3">
        <div class="col-sm-4 col-md-5">
            <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
                Showing @((PageNo * Items) - (Items - 1)) - @((PageNo * Items) > Total ? Total : (PageNo * Items)) of @Total entries
            </div>
        </div>
        <div class="col-sm-3 col-md-7 " @(Total > 0 ? "" : "disable")>
            <div class="d-flex flex-wrap gap-4 justify-content-end">
                <div class="dataTables_length" id="example_length">
                    <div class="d-flex align-items-center gap-2 pt-1">
                        <span>Show Items</span>
                        <select id="txtitems" name="txtitems" aria-controls="example" onchange="Onload();" class="form-select form-select-sm w-auto">
                            <option @(Items == 25 ? "selected=selected" : "") value="25">25</option>
                            <option @(Items == 50 ? "selected=selected" : "") value="50">50</option>
                            <option @(Items == 75 ? "selected=selected" : "") value="75">75</option>
                            <option @(Items == 100 ? "selected=selected" : "") value="100">100</option>
                        </select>
                    </div>
                </div>
                <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                    @Html.Raw(CMS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pb-0"))
                </div>
            </div>
        </div>
    </div>

</div>
