@using System.Configuration
@model CMS.Entities.LogOnModel
@{
    Layout = null;
    var str = ViewBag.str;

    int status = 0;

    CMS.BLL.AppInfo _AppInfo = new CMS.BLL.AppInfo();
    CMS.Entities.AppInfo objAppInfo = new CMS.Entities.AppInfo();

    objAppInfo = _AppInfo.GetAppInfoDetails(ref status);

    ViewBag.Title = objAppInfo.SiteName + " - Control Panel";
    ViewBag.Pageheading = "Log On";

}
<!doctype html>
<html lang="en" class="minimal-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @{var baseurl = objAppInfo.BaseUrl;}
    <base href="@(baseurl)" />
    <title>@objAppInfo.SiteName - Control Panel</title>

    <link rel="icon" href="Content/Admin/images/favicon-32x32.png" type="image/png" />
    <!-- Bootstrap CSS -->
    <link href="Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Admin/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="Content/Admin/plugins/notifications/css/lobibox.css" rel="stylesheet" />
    <link href="Content/Admin/css/style.css" rel="stylesheet" />
    <link href="Content/Admin/css/icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />



    <!-- loader-->
    @*<link href="Content/Admin/css/pace.min.css" rel="stylesheet" />*@

    <script src="Content/Admin/js/jquery.min.js"></script>
    <script src="Scripts/Admin/jquery.validate.js"></script>


    <script src="Content/Admin/js/jquery-validate.min.js"></script>


</head>

<body>

    <!--start wrapper-->
    <div class="wrapper">

        <!--start content-->
        <main class="authentication-content">
            <div class="container-fluid">
                <div class="authentication-card">
                    <div class="card shadow rounded-0 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-lg-6 bg-login d-flex align-items-center justify-content-center">
                                <img src="Content/Admin/images/error/login-img.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-6">
                                <div class="card-body p-4 p-sm-5">



                                    @*@if (TempData["message"] != null)
        {
            <div id="divmessage" class="sepH_b">@Html.Raw(TempData["message"].ToString())</div>}
        @if (ViewBag.message != null)
        {<div id="divmessage" class="sepH_b">@Html.Raw(ViewBag.message.ToString())</div>}*@

                                    @if (TempData["messageType"] != null && TempData["message"] != null)
                                    {
                                        <script>
            $(document).ready(function () {
                showLobiboxNotification('@TempData["messageType"]', '@TempData["message"]');
            });
                                        </script>
                                    }

                                    <script>
                                        function showLobiboxNotification(messageType, message) {
                                            var iconClass;
                                            switch (messageType.toLowerCase()) {
                                                case 'success':
                                                    iconClass = 'bx bx-check-circle';
                                                    break;
                                                case 'warning':
                                                    iconClass = 'bx bx-warning-circle';
                                                    break;
                                                case 'error':
                                                    iconClass = 'bx bx-x-circle';
                                                    break;
                                                default:
                                                    iconClass = 'bx bx-info-circle';
                                                    break;
                                            }

                                            Lobibox.notify(messageType, {
                                                pauseDelayOnHover: true,
                                                size: 'mini',
                                                rounded: true,
                                                icon: iconClass,
                                                delayIndicator: false,
                                                continueDelayOnInactiveTab: false,
                                                position: 'top right',
                                                msg: message
                                            });
                                        }
                                    </script>




                                    <div class="text-center"><img src="Content/Admin/images/logo1.png" class="logo-icon" alt="logo icon" style="width:260px" /></div>


                                    @using (Html.BeginForm())
                                    {

                                        @*<div class="d-grid">
                <a class="btn btn-white radius-30" href="javascript:;">
                    <span class="d-flex justify-content-center align-items-center">
                        <img class="me-2" src="Content/Admin/images/icons/search.svg" width="16" alt="" />
                        <span>Sign up with Google</span>
                    </span>
                </a>
            </div>*@
                                        <div class="login-separater text-center mb-4">
                                            <span>SIGN IN WITH EMAIL</span>
                                            <hr />
                                        </div>
                                        <div class="row g-3">
                                            @*<div class="col-12 ">
                    <label for="inputName" class="form-label">Name</label>
                    <div class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-person-circle"></i></div>
                        <input type="email" class="form-control radius-30 ps-5" id="inputName" placeholder="Enter Name" />
                    </div>
                </div>*@
                                            <div class="col-12">
                                                <label for="Email" class="form-label">Email Address</label>
                                                <div class="ms-auto position-relative">
                                                    <div class="position-absolute  search-icon px-3" style="top:7px"><i class="bi bi-envelope-fill"></i></div>
                                                    <input type="email" class="form-control radius-30 ps-5" name="Email" id="Email" value="support@arjunweb.in" placeholder="Email Address" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputChoosePassword" class="form-label">Enter Password</label>
                                                <div class="ms-auto position-relative">
                                                    <div class="position-absolute  search-icon px-3" style="top:7px"><i class="bi bi-lock-fill"></i></div>
                                                    <input type="password" class="form-control radius-30 ps-5" name="Password" id="Password" value="p@ssword1" placeholder="Enter Password" />
                                                </div>
                                            </div>


                                            @*<div class="col-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" />
                        <label class="form-check-label" for="flexSwitchCheckChecked">I Agree to the Trems & Conditions</label>
                    </div>
                </div>*@

                                            <div class="col-6 text-end w-100">
                                                <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password ?</a>

                                            </div>




                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <button type="submit" class="btn btn-primary radius-30">Sign in</button>
                                                </div>
                                            </div>
                                            @*<div class="col-12">
                    <p class="mb-0">Already have an account? <a href="authentication-signin.html">Sign up here</a></p>
                </div>*@
                                        </div>

                                    }

                                    @*<div class="mt-4">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td style="vertical-align:middle;">support@arjunweb.in</td>
                                                    <td style="vertical-align:middle;">p@ssword1</td>
                                                    <td class="text-center" style="vertical-align:middle;">
                                                        <button class="btn btn-primary btn-xs" onclick="autoFillAdmin()">Copy</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--end page main-->

    </div>
    <!--end wrapper-->
    <!--plugins-->
    @*<script src="Content/Admin/js/pace.min.js"></script>*@


    <script src="Content/Admin/plugins/notifications/js/lobibox.min.js"></script>
    <script src="Content/Admin/plugins/notifications/js/notifications.min.js"></script>
    <script src="Content/Admin/plugins/notifications/js/notification-custom-script.js"></script>





    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>*@






    <script>

        $(document).ready(function () {



            $("form").validate({
                rules: {


                    Email: {
                        required: true,
                        validate_email: true

                    },

                    "Password": {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {

                    Email: {
                        required: "Please enter email address",
                        validate_email: "Please enter valid email address"

                    },

                    "Password": {
                        required: "Please enter your password",
                        minlength: "Your password must be at least 6 characters long"
                    }
                },



                errorElement: "div",
                errorPlacement: function (error, element) {
                    // Add the `invalid-feedback` class to the error element
                    error.addClass("invalid-feedback");

                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }

                    // Move the error element after the fieldset element
                    if (element.closest(".input-box").length) {
                        element.closest(".input-box").after(error);
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    // Highlight the input, textarea, or select element with the `is-invalid` class
                    var $element = $(element);
                    if ($element.is('input, textarea, select')) {
                        $element.addClass("is-invalid").removeClass("is-valid");
                    }


                },
                unhighlight: function (element, errorClass, validClass) {
                    // Unhighlight the input, textarea, or select element by adding the `is-valid` class
                    var $element = $(element);
                    if ($element.is('input, textarea, select')) {
                        $element.addClass("is-valid").removeClass("is-invalid");
                    }

                },


            });
        });

    </script>

    <script type="text/javascript">
        function autoFillAdmin() {
            $('#Email').val('support@arjunweb.in');
            $('#Password').val('p@ssword1');
        }
    </script>
</body>

</html>