@{
    ViewBag.Pageheading = "Menu Items";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
    List<CMS.Entities.Chapters> lstChapters = ViewBag.lstChapters;
    List<CMS.Entities.PageDetails> lstPageDetails = ViewBag.lstPageDetails;
    List<CMS.Entities.MenuItems> lstMenuItems = ViewBag.lstMenuItems;
    // Int64 ChapterId = 0;
    //Int64 ChapterId =
    //Int64 ChapterId = Convert.ToInt64(Session["ChapterId"]);
    Int64 ChapterId = ViewBag.ChapterId;
    bool IsFooterBar = ViewBag.IsFooterBar;
    bool IsMenuBar = ViewBag.IsMenuBar;
    bool IsQuickLinks = ViewBag.IsQuickLinks;

    var userRole = "";

    bool IsEdit = Convert.ToBoolean(Session["IsEdit"]);
    bool IsView = Convert.ToBoolean(Session["IsView"]);
    bool IsDelete = Convert.ToBoolean(Session["IsDelete"]);
    bool IsExport = Convert.ToBoolean(Session["IsExport"]);
    bool IsAdd = Convert.ToBoolean(Session["IsAdd"]);
    Int64 Mid = ViewBag.mid;



    int status = 0;
    CMS.BLL.AppInfo _AppInfo = new CMS.BLL.AppInfo();
    CMS.Entities.AppInfo objAppInfo = new CMS.Entities.AppInfo();
    objAppInfo = _AppInfo.GetAppInfoDetails(ref status);
    userRole = Session["userrole"] != null ? Session["userrole"].ToString() : string.Empty;
}
<script type="text/javascript">
    $(document).ready(function () {
      //  $('#wMenuItems').addClass('active');
        $('#wWebPages, #wMenuItems').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        });

    function MenuItemsBind() {
        
        var Type = $('#Type').val();
        var ChapterId = $('#ChapterId').val();
        @*var ChapterId = 0;
        if (@ChapterId != 0) {
            ChapterId = @ChapterId;
        }
        else {

        ChapterId = $('#ChapterId').val();

        }*@
        if (Type == 'IsFooterBar') {
            var IsFooterBar = true;
        }
        else if (Type == 'IsMenuBar') {
            var IsMenuBar = true;
        }
        else if (Type == 'IsQuickLinks') {
            var IsQuickLinks = true;
        }

          
        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("MenuItemsList", "MenuItems")',
            data: { ChapterId: ChapterId, IsFooterBar: IsFooterBar, IsMenuBar: IsMenuBar, IsQuickLinks:IsQuickLinks , IsEdit: '@IsEdit', IsView: '@IsView', IsDelete: '@IsDelete', IsExport: '@IsExport', IsAdd: '@IsAdd', Mid: '@Mid' }, // optional data
            success: function (result) {
                $('#divMenuItemsList').html(result);
                }
            });
        }

        function EditMenuPages(MenuPagesId) {
        $.ajax({
            url: '@Url.Action("EditMenuPages", "MenuPages")',
            type: 'POST',
            data: { MenuPagesId: MenuPagesId },
            datatype: "JSON",
            success: function (result) {
                    if (result.ok) {
                        var objMenuPages = result.data;
                    $('#AMenuPageId').val(objMenuPages.MenuPageId);
                    $('#AMenuItemId').val(objMenuPages.MenuItemId);
                    $('#APageDetailId').val(objMenuPages.PageDetailId);
                    $('#lbltitle').html('Change Page to Item');
                    $('#hdnPageDetails').html('Change Page to Item');

                    $("#AddMenuPages").modal("show");
                    }
                    else {
                        alert(result.data);
                    }
                }
            });
        }

        function AddPageToItem(itemid, ChapterId) {
        $('#AMenuItemId').val(itemid);
        $('#AChapterId').val(ChapterId);
        $('#APageDetailId').val('');
        $("#AddMenuPages").modal("show");
        $('#hdnPageDetails').html('Add Page to Item');
        }
        function Validate() {

            if ($('#APageDetailId').val() == '') { $('#spanAPageDetailId').html('Required.'); $('#APageDetailId').focus(); return false; } else { $('#spanAPageDetailId').html(''); $('#APageDetailId').focus(); }

            return true;
    }

    function ClearSearch() {

        $('#Type').val('').trigger('change');
        $('#ChapterId').val('').trigger('change');


    
        $('#ChapterId').val(1);

       
      
        MenuItemsBind(1);
    }




</script>
<!-- breadcumb -->

<div class="card">
    <div class="card-header py-3 mb-3">
        <div class="row  gx-2">

            @if (objAppInfo.chapterStatus == "Yes")
            {
            <div class="col-lg-3 col-md-6 col-8">
                <div class="input-box">
                    <label class="form-label"> <span class="text-danger"></span>Search by Chapter</label>
                    <div class="input-group">
                        <select class="form-control" id="ChapterId" name="ChapterId" style="@(ChapterId != 1 ? "pointer-events:none;" : "")">


                            @if (lstChapters != null && lstChapters.Count != 0)
                            {
                                foreach (var item in lstChapters)
                                {
                                    <option value="@item.ChapterId" @(item.ChapterId == ChapterId ? "selected=selected" : "")>@item.ChapterName</option>
                                }
                            }


                        </select>
                        @*<span class="input-group-text pointer" style="cursor:pointer" onclick="MenuItemsBind(1);" id="basic-addon1"><i class="bi bi-search"></i></span>*@
                    </div>
                </div>
            </div>




            <div class="col-4">
                <div class="btn-align" style="margin-top:23px;">
                    <button type="button" class="btn btn-primary px-3" onclick="MenuItemsBind(1);">Search</button>
                    <button type="button" class="btn btn-danger px-3" onclick="ClearSearch();">Clear</button>
                </div>
            </div>
            }
            <div class="col-lg-2 col-4 text-end ms-auto">
                <div class="btn-align">
                    @if (IsAdd == true || userRole.Contains("SuperAdmin") || userRole.Contains("DeveloperAdmin"))
                    {
                        <a class="btn btn-primary" href="@Url.Action("CreateMenuItems", "MenuItems", new { ChapterId = ChapterId, mid = ViewBag.mid })">Add Menu item</a>
                    }

                </div>
            </div>

        </div>
    </div>
    <!--end breadcrumb-->
    <!-- Button trigger modal -->
    <!-- Modal -->
 




    <div id="divMenuItemsList" class="clearfix">
        @{Html.RenderAction("MenuItemsList", "MenuItems", new { ChapterId = (ChapterId == 0 ? 1 : ChapterId), IsEdit = IsEdit, IsView = IsView, IsDelete = IsDelete, IsExport = IsExport, IsAdd = IsAdd, Mid = Mid });}
    </div>
</div>

<div class="modal fade" id="AddMenuPages" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("AddMenuPages", "MenuPages", FormMethod.Post))
        {
            <input type="hidden" id="AMenuItemId" name="MenuItemId" value="0" />
            <input type="hidden" id="AMenuPageId" name="MenuPageId" value="0" />
            <input type="hidden" id="Mid" name="Mid" value="@Mid" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="lbltitle"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-lg-12 col-md-6">
                            <div class="input-box">
                                <label>Select Page</label>
                                <select id="APageDetailId" class="m-single-select" name="PageDetailId">
                                    <option value="">Select</option>
                                    @if (lstPageDetails != null)
                                    {
                                        foreach (var item in lstPageDetails)
                                        {
                                            <option value="@item.PageDetailId">@item.Heading</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-close-button" data-bs-dismiss="modal">Close</button>
                    <button type="submit"  onclick="return Validate()" class="btn btn-primary">Save changes</button>
                </div>
            </div>}
    </div>
</div>


<script>
    // Function to clear form validation errors and reset the form
    function clearFormErrorsAndReset() {
        // Clear any validation error messages
        $('em.error').remove(); // Assuming error messages have a class of 'error-message'

        // Reset the form
        $('form')[0].reset();
    }

    // Event handler for closing the modal dialog
    $('.modal-close-button, .close').on('click', function () {
        // Clear form errors and reset upon closing the modal
        clearFormErrorsAndReset();
    });

    // Event handler for when the modal is closed by clicking outside of it
    $('.modal').on('click', function (event) {
        // Check if the click event occurred outside the modal dialog
        if ($(event.target).hasClass('modal')) {
            // Clear form errors and reset upon closing the modal
            clearFormErrorsAndReset();
        }
    });

    // Additional event handler for any other action that might close the modal
    // For example, pressing escape key
    $(document).on('keydown', function (event) {
        // Check if the escape key was pressed and the modal is open
        if (event.key === "Escape" && $('.modal').is(':visible')) {
            // Clear form errors and reset upon closing the modal
            clearFormErrorsAndReset();
        }
    });


</script>



<script type="text/javascript">
    function ScrollUp() {
        $('html, body').animate({
            scrollTop: "0px"
        }, 800);
    }

</script>